[submodule "ethvm-frontend"]
	path = ethvm-frontend
	url = https://github.com/enKryptIO/ethvm
[submodule "ethvm-server"]
	path = ethvm-server
	url = https://github.com/enKryptIO/ethvm-socket-server
[submodule "ethvm-go-ethereum"]
	path = ethvm-go-ethereum
	url = https://github.com/enKryptIO/go-ethereum.git
